.cabeçalho {
    background: center / cover url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5L5gPGF9TCP50xwlbNHhBGMjsNCQy96ezIHIVRMm4IdTHc6wsuwckjiaFubB1Fouhvzs&usqp=CAU);
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 50%;
    font: "Open Sans", sans-serif;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
    border: 3px solid rgb(47, 50, 221);
}
.Seguir {
    font-size: 50px;
}
body {
    width: 97%;
    height: 913px;
    margin: 0 auto;
    background-color: #73ecec;
    padding: 0 20px 20px 20px;
    background: center / cover url(cadastroback.jpeg);
}
html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}
.Voltar {
    height: 80px;
    display: block;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #5ec6e6;
    text-shadow: 1px 1px 1px  black;
}
h2 {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #7697ad;
}
.Conta {
    display: flex;
    justify-content: center;
    height: 30px;
}
.Senha {
    display: flex;
    justify-content: center;
    height: 30px;
}
.Cadastrar {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 80px;
}
.Confirmar {
    display: flex;
    justify-content: center;
    height: 30px;
}
.Linha {
    width: 380px;
    margin-top: 70px;
}
nav a {
    padding: 0 15px 0 0;
}
nav a:hover {
    color: #ca1140;
}
.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
  }
  .btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }